target/classes/resources/UnitTest/Mule3XMLInputs/powershell.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:powershell="http://www.mulesoft.org/schema/mule/powershell" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/powershell http://www.mulesoft.org/schema/mule/powershell/current/mule-powershell.xsd">
    <powershell:config name="PowerShell__Gateway_Connection" serviceAddress="ip" accessToken="" rootUserName="user" rootPassword="pass" doc:name="PowerShell: Gateway_Connection">
        <reconnect frequency="3000" count="5"/>
    </powershell:config>
    <flow name="powershellFlow">
        <powershell:execute config-ref="PowerShell__Gateway_Connection" doc:name="PowerShell" script="#[flowVars.abc]">
            <powershell:parameters ref="#[flowVars.abc]"/>
        </powershell:execute>
    </flow>
</mule>
