src/resources/UnitTest/Mule4ExpectedOutput/amazonsns.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sns="http://www.mulesoft.org/schema/mule/sns" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sns http://www.mulesoft.org/schema/mule/sns/current/mule-sns.xsd">
	<sns:config name="Amazon_SNS__Configuration" doc:name="Amazon SNS: Configuration"  >
		<sns:basic-connection testTopic="arn" accessKey="key" secretKey="key" tryDefaultAWSCredentialsProviderChain="true" region="APNORTHEAST1" proxyHost="host" proxyPort="8080" proxyUsername="user" proxyPassword="pass" proxyDomain="domian" proxyWorkstation="work" maxConnections="100" connectionTimeout="60000" socketTimeout="60000" >
			<reconnection >
				<reconnect frequency="3000" count="5" />
			</reconnection>
		</sns:basic-connection>
	</sns:config>
	<sns:config name="Amazon_SNS__Role_Configuration" doc:name="Amazon SNS: Role Configuration"  defaultTopicArn="tpic" >
		<sns:role-connection roleARN="arn" accessKey="key" secretKey="key" tryDefaultAWSCredentialsProviderChain="true" region="APNORTHEAST1" proxyHost="host" proxyPort="8080" proxyUsername="user" proxyPassword="pass" proxyDomain="domain" proxyWorkstation="work" maxConnections="100" connectionTimeout="60000" socketTimeout="60000" >
			<reconnection >
				<reconnect frequency="3000" count="5" />
			</reconnection>
		</sns:role-connection>
	</sns:config>
	<flow name="amazonsnsFlow"  >
		<sns:add-permission doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" />
	</flow>
	<flow name="amazonsnsFlow1"  >
		<sns:confirm-subscription doc:name="Amazon SNS"  config-ref="Amazon_SNS__Role_Configuration" topicArn="topic" token="token" authenticateOnUnsubscribe="auth"/>
	</flow>
	<flow name="amazonsnsFlow2"  >
		<sns:create-platform-application doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" name="name" platform="plat" attributes="#[vars.abc]"/>
	</flow>
	<flow name="amazonsnsFlow3"  >
		<sns:create-platform-endpoint doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" platformApplicationArn="arn" token="token" customUserData="data" attributes="#[vars.abc]"/>
	</flow>
	<flow name="amazonsnsFlow4"  >
		<sns:create-topic doc:name="Amazon SNS"  topicName="tpic" config-ref="Amazon_SNS__Configuration"/>
	</flow>
	<flow name="amazonsnsFlow5"  >
		<sns:delete-endpoint doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" endpointArn="arn"/>
	</flow>
	<flow name="amazonsnsFlow6"  >
		<sns:delete-platform-application doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" platformApplicationArn="ern"/>
	</flow>
	<flow name="amazonsnsFlow7"  >
		<sns:delete-topic doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" topicArn="topic"/>
	</flow>
	<flow name="amazonsnsFlow8"  >
		<sns:get-endpoint-attributes doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" endpointArn="rn"/>
	</flow>
	<flow name="amazonsnsFlow9"  >
		<sns:get-platform-application-attributes doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" platformApplicationArn="rn"/>
	</flow>
	<flow name="amazonsnsFlow10"  >
		<sns:get-subscription-attributes doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" subscriptionArn="rn"/>
	</flow>
	<flow name="amazonsnsFlow11"  >
		<sns:get-topic-attributes doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" topicArn="rn"/>
	</flow>
	<flow name="amazonsnsFlow12"  >
		<sns:list-endpoints-by-platform-application doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" arn="arn"/>
	</flow>
	<flow name="amazonsnsFlow13"  >
		<sns:list-platform-applications doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration"/>
	</flow>
	<flow name="amazonsnsFlow14"  >
		<sns:list-subscriptions doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration"/>
	</flow>
	<flow name="amazonsnsFlow15"  >
		<sns:list-subscriptions-by-topic doc:name="Amazon SNS"  arn="arn" config-ref="Amazon_SNS__Configuration"/>
	</flow>
	<flow name="amazonsnsFlow16" >
		<sns:list-topics doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration"/>
	</flow>
	<flow name="amazonsnsFlow17"  >
		<sns:publish doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" topicArn="arn">
			<sns:message ><![CDATA[#[vars.abc]]]></sns:message>
		</sns:publish>
	</flow>
	<flow name="amazonsnsFlow18"  >
		<sns:remove-permission doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" topicArn="topic" label="label"/>
	</flow>
	<flow name="amazonsnsFlow19"  >
		<sns:set-endpoint-attributes doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration">
			<sns:endpoint ><![CDATA[#[vars.abc]]]></sns:endpoint>
		</sns:set-endpoint-attributes>
	</flow>
	<flow name="amazonsnsFlow20"  >
		<sns:set-platform-application-attributes doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration">
			<sns:platform-application-attributes ><![CDATA[#[vars.abc]]]></sns:platform-application-attributes>
		</sns:set-platform-application-attributes>
	</flow>
	<flow name="amazonsnsFlow21"  >
		<sns:set-subscription-attributes doc:name="Amazon SNS"  subscriptionArn="arn" attributeName="name" attributeValue="value" config-ref="Amazon_SNS__Configuration"/>
	</flow>
	<flow name="amazonsnsFlow22"  >
		<sns:set-topic-attributes doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" topicArn="arn" attributeName="name" attributeValue="value"/>
	</flow>
	<flow name="amazonsnsFlow23"  >
		<sns:subscribe protocol="EMAIL" doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" topicArn="topic" endpoint="end"/>
	</flow>
	<flow name="amazonsnsFlow24"  >
		<sns:unsubscribe doc:name="Amazon SNS"  config-ref="Amazon_SNS__Configuration" subscriptionArn="arn"/>
	</flow>
</mule>
