src/resources/UnitTest/Mule4ExpectedOutput/coupa.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:coupa="http://www.mulesoft.org/schema/mule/coupa" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/coupa http://www.mulesoft.org/schema/mule/coupa/current/mule-coupa.xsd">
	<coupa:config name="Coupa__Configuration" doc:name="Coupa: Configuration"  >
		<coupa:coupa-connection coupaInstance="instance" apiKey="key" >
			<reconnection >
				<reconnect frequency="3000" count="5" />
			</reconnection>
		</coupa:coupa-connection>
	</coupa:config>
	<flow name="coupaFlow"  >
		<coupa:approvals action="action" doc:name="Coupa" config-ref="Coupa__Configuration" id="id"/>
	</flow>
	<flow name="coupaFlow1"  >
		<coupa:expense-reports doc:name="Coupa" config-ref="Coupa__Configuration" id="id"/>
	</flow>
	<flow name="coupaFlow2" >
		<coupa:inventory-transactions doc:name="Coupa"  config-ref="Coupa__Configuration" id="id"/>
	</flow>
	<flow name="coupaFlow3" >
		<coupa:void-invoice doc:name="Coupa" config-ref="Coupa__Configuration" id="id"/>
	</flow>
	<flow name="coupaFlow4"  >
		<coupa:purchase-orders action="action" doc:name="Coupa"  config-ref="Coupa__Configuration" id="id"/>
	</flow>
	<flow name="coupaFlow5"  >
		<coupa:requisitions action="action" doc:name="Coupa"  config-ref="Coupa__Configuration">
			<coupa:entity ><![CDATA[#[vars.abc]]]></coupa:entity>
		</coupa:requisitions>
	</flow>
	<flow name="coupaFlow6" >
		<coupa:creste-suppliers-remit-to-address doc:name="Coupa"  config-ref="Coupa__Configuration" supplierId="id">
			<coupa:entity ><![CDATA[#[vars.abc]]]></coupa:entity>
		</coupa:creste-suppliers-remit-to-address>
	</flow>
</mule>
