src/resources/UnitTest/Mule4ExpectedOutput/siebel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/current/mule-siebel.xsd">
	<siebel:siebel-config name="Oracle_Siebel_Business_Objects__Configuration" doc:name="Oracle Siebel Business Objects: Configuration" defaultViewModeBusComp="10" dataSenseFilterQueryBusComp="comp" dataSenseFilterQueryIntObjects="objects" defaultViewMode="15" >
		<siebel:basic-connection user="user" password="pass" server="server" port="8080" serverName="name" objectManager="manager" language="lang" encoding="encode" >
			<reconnection >
				<reconnect frequency="3000" count="5" />
			</reconnection>
		</siebel:basic-connection>
	</siebel:siebel-config>
	<siebel:siebel-config name="Oracle_Siebel_Business_Services__Configuration" doc:name="Oracle Siebel Business Services: Configuration"  defaultViewModeBusComp="10" dataSenseFilterQuery="query" >
		<siebel:basic-connection user="user" password="pass" server="server" port="8081" serverName="name" rsaEncryption="true" objectManager="manager" language="lang" encoding="encode" >
			<reconnection >
				<reconnect frequency="3000" count="5" />
			</reconnection>
		</siebel:basic-connection>
	</siebel:siebel-config>
	<siebel:siebel-config name="Oracle_Siebel_Integration_Objects__Configuration" doc:name="Oracle Siebel Integration Objects: Configuration"  defaultViewModeBusComp="10" dataSenseFilterQuery="query" outputEnrichedWithInputPayload="false" >
		<siebel:basic-connection user="user" password="pass" server="server" port="8082" serverName="name" rsaEncryption="true" objectManager="manager" language="lang" encoding="encode" >
			<reconnection >
				<reconnect frequency="3000" count="5" />
			</reconnection>
		</siebel:basic-connection>
	</siebel:siebel-config>
	<flow name="siebelFlow"  >
		<siebel:create-business-component doc:name="Oracle Siebel Business Objects"  config-ref="Oracle_Siebel_Business_Objects__Configuration" businessObjectComponentType="type">
			<siebel:business-component-fields ><![CDATA[#[vars.abc]]]></siebel:business-component-fields>
		</siebel:create-business-component>
	</flow>
	<flow name="siebelFlow1"  >
		<siebel:delete-business-component doc:name="Oracle Siebel Business Objects"  config-ref="Oracle_Siebel_Business_Objects__Configuration" businessObjectComponentType="type" businessComponentId="id" viewMode="10"/>
	</flow>
	<flow name="siebelFlow2"  >
		<siebel:query-business-components businessObjectComponentType="type" doc:name="Oracle Siebel Business Objects"  config-ref="Oracle_Siebel_Business_Objects__Configuration">
			<siebel:query-definition ><![CDATA[#[vars.q]]]></siebel:query-definition>
		</siebel:query-business-components>
	</flow>
	<flow name="siebelFlow3"  >
		<siebel:query-join-business-components businessObjectComponentType="type" doc:name="Oracle Siebel Business Objects" config-ref="Oracle_Siebel_Business_Objects__Configuration">
			<siebel:query-to-join-definition ><![CDATA[#[vars.q]]]></siebel:query-to-join-definition>
		</siebel:query-join-business-components>
	</flow>
	<flow name="siebelFlow4" >
		<siebel:update-business-component businessObjectComponentType="type" doc:name="Oracle Siebel Business Objects"  config-ref="Oracle_Siebel_Business_Objects__Configuration" viewMode="10" searchSpec="#[vars.s]">
			<siebel:business-component-fields ><![CDATA[#[vars.abc]]]></siebel:business-component-fields>
		</siebel:update-business-component>
	</flow>
	<flow name="siebelFlow5"  >
		<siebel:upsert-business-component businessObjectComponentType="type" doc:name="Oracle Siebel Business Objects"  config-ref="Oracle_Siebel_Business_Objects__Configuration" viewMode="10" recordIds="#[vars.id]">
			<siebel:business-component-fields ><![CDATA[#[vars.abc]]]></siebel:business-component-fields>
		</siebel:upsert-business-component>
	</flow>
	<flow name="siebelFlow6"  >
		<siebel:execute doc:name="Oracle Siebel Business Services"  config-ref="Oracle_Siebel_Business_Services__Configuration" serviceName="sname" methodName="name">
			<siebel:input ><![CDATA[#[vars.a]]]></siebel:input>
		</siebel:execute>
	</flow>
	<flow name="siebelFlow7"  >
		<siebel:execute-business-service businessService="service" doc:name="Oracle Siebel Business Services"  config-ref="Oracle_Siebel_Business_Services__Configuration">
			<siebel:input-properties ><![CDATA[#[vars.in]]]></siebel:input-properties>
		</siebel:execute-business-service>
	</flow>
	<flow name="siebelFlow8"  >
		<siebel:execute-siebel-adapter doc:name="Oracle Siebel Integration Objects"  config-ref="Oracle_Siebel_Integration_Objects__Configuration" method="DELETE" integrationObject="object">
			<siebel:input-properties ><![CDATA[#[vars.abc]]]></siebel:input-properties>
		</siebel:execute-siebel-adapter>
	</flow>
</mule>
