src/resources/UnitTest/Mule3XMLInputs/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:oracle-config name="Oracle_Configuration" host="localhost"
		port="1521" instance="test" user="test" password="test"
		doc:name="Oracle Configuration" transactionIsolation="READ_COMMITTED">
		<db:pooling-profile maxPoolSize="2" minPoolSize="2"
			acquireIncrement="2" preparedStatementCacheSize="2" maxWaitMillis="2" />

	</db:oracle-config>
	<flow name="dbFlow">
		<db:insert config-ref="Oracle_Configuration" doc:name="Insert"
			autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
			autoGeneratedKeysColumnNames="1" queryTimeout="10" target="test"
			transactionalAction="NOT_SUPPORTED">
			<db:parameterized-query>
				SELECT * FROM employees WHERE last_name = :last_name
			</db:parameterized-query>
			<db:in-param name="last_name" value="#[flowVars.lastName]" />
		</db:insert>
	</flow>
</mule>
