target/classes/resources/UnitTest/Mule4ExpectedOutput/apikit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<apikit:config doc:name="Router" httpStatusVarName="httpStatus" name="x-sfcc-config" outboundHeadersMapName="outBoundHeadersMap" raml="x-sfcc.raml"/>
<http:listener-config doc:name="HTTP Listener Configuration" name="x-sfcc-http-listener-config">
<http:listener-connection host="${https.host}" port="${https.port}" protocol="HTTPS">
<tls:context>
<tls:trust-store/>
<tls:key-store alias="${alias.name}" keyPassword="${key.password}" password="${key.password}" path="jks/serverStore.jks" type="pkcs12"/>
</tls:context>
</http:listener-connection>
</http:listener-config>
<flow name="x-sfcc-main">
<http:listener config-ref="x-sfcc-http-listener-config" doc:name="HTTP" path="/api/*">
<http:response statusCode="#[vars.httpStatus default 200]">
<http:body><![CDATA[#[payload]]]></http:body>
</http:response>
<http:error-response statusCode="#[vars.httpStatus default 500]">
<http:body><![CDATA[#[error]]]></http:body>
</http:error-response>
</http:listener>	
	<apikit:router config-ref="x-sfcc-config" doc:name="APIkit Router" />

</flow>
<flow name="x-sfcc-console">
<http:listener config-ref="x-sfcc-http-listener-config" doc:name="HTTP" path="/console/*">
<http:response statusCode="#[vars.httpStatus default 200]">
<http:body><![CDATA[#[payload]]]></http:body>
</http:response>
<http:error-response statusCode="#[vars.httpStatus default 500]">
<http:body><![CDATA[#[error]]]></http:body>
</http:error-response>
</http:listener>
<apikit:console config-ref="x-sfcc-config" doc:name="APIkit Console" />
</flow>
</mule>
