target/classes/resources/UnitTest/Mule4ExpectedOutput/cics_ibm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ibmctg="http://www.mulesoft.org/schema/mule/ibmctg" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ibmctg http://www.mulesoft.org/schema/mule/ibmctg/current/mule-ibmctg.xsd">
	<flow name="cics_ibmFlow"  >
		<ibmctg:create-channel-and-content-instance doc:name="IBM CTG"  request="#[vars.req]" content="#[vars.abc]"/>
	</flow>
	<flow name="cics_ibmFlow1"  >
		<ibmctg:execute doc:name="IBM CTG"  channelRequest="#[vars.req]">
			<ibmctg:content ><![CDATA[#[vars.abc]]]></ibmctg:content>
		</ibmctg:execute>
	</flow>
	<flow name="cics_ibmFlow2" >
		<ibmctg:execute-using-commarea doc:name="IBM CTG"  commareaRequestType="#[vars.req]">
			<ibmctg:content ><![CDATA[#[vars.abc]]]></ibmctg:content>
		</ibmctg:execute-using-commarea>
	</flow>
	<flow name="cics_ibmFlow3"  >
		<ibmctg:execute-with-multiple-channels doc:name="IBM CTG"  >
			<ibmctg:channel-and-contents ><![CDATA[#[vars.abc]]]></ibmctg:channel-and-contents>
		</ibmctg:execute-with-multiple-channels>
	</flow>
</mule>
