src/resources/UnitTest/Mule4XMLToolOutput/edifact.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:edifact="http://www.mulesoft.org/schema/mule/edifact" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/edifact http://www.mulesoft.org/schema/mule/edifact/current/mule-edifact.xsd">
<edifact:config allowUnusedSegments="false" alwaysSendUNA="true" characterEncoding="ASCII_A" componentSeparator="ce" dataSeparator="dc" doc:name="EDIFACT EDI" enforceLengthLimits="false" enforceReadCharacters="false" enforceSegmentOrder="false" enforceSegmentRepeats="false" enforceValueRepeats="false" initialInterchangeReference="10" initialMessageReference="10" interchangeIdPartner="#[vars.id]" interchangeIdQualifierPartner="#[vars.id]" interchangeIdQualifierSelf="#[vars.abc]" interchangeIdSelf="#[vars.abc]" lineEnding="CR" name="EDIFACT_EDI" releaseCharacter="rc" repetitionSeparator="rs" requireUniqueInterchanges="true" requireUniqueMessages="true" schemas="#[vars.abc]" segmentTerminator="st" sendSyntaxVersion="VERSION2" sendUniqueMessageNumbers="true" separatorUsage="USE_DEFAULTS" stringSubstitutionChar="sub" testIndicator="test"/>
<flow name="edifactFlow">
<edifact:read config-ref="EDIFACT_EDI" doc:name="EDIFACT EDI">
<edifact:read-content><![CDATA[#[vars.abc]]]></edifact:read-content>
</edifact:read>
</flow>
<flow name="edifactFlow1">
<edifact:write config-ref="EDIFACT_EDI" doc:name="EDIFACT EDI">
<edifact:write-content><![CDATA[#[vars.abc]]]></edifact:write-content>
</edifact:write>
</flow>

</mule>