src/resources/UnitTest/Mule4XMLToolOutput/msmq.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:msmq="http://www.mulesoft.org/schema/mule/msmq" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/msmq http://www.mulesoft.org/schema/mule/msmq/current/mule-msmq.xsd">
<flow name="msmqFlow">
<msmq:msmq config-ref="MSMQ" doc:name="MSMQ (Streaming)"/>
<msmq:send config-ref="MSMQ1" doc:name="MSMQ" messageFormatter="ActiveXMessageFormatter" password="pass" queueName="name" timeToBeReceived="100" timeToReachQueue="100" userName="user">
<msmq:payload><![CDATA[#[vars.abc]]]></msmq:payload>
</msmq:send>
</flow>
<msmq:msmq-receiver-config doc:name="MSMQ" messageCount="100" messageFormatter="ActiveXMessageFormatter" name="MSMQ" pollingFrequency="100">
<msmq:msmq-connection accessToken="token" ignoreSSLWarnings="true" queueName="name" rootPassword="pass" rootUserName="user" serviceAddress="add">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
</msmq:msmq-connection>
</msmq:msmq-receiver-config>
<msmq:msmq-sender-config doc:name="MSMQ" name="MSMQ1">
<msmq:msmq-connection accessToken="token" ignoreSSLWarnings="true" queueName="name" rootPassword="pass" rootUserName="user" serviceAddress="add">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
</msmq:msmq-connection>
</msmq:msmq-sender-config>

</mule>