src/resources/UnitTest/Mule4XMLToolOutput/powershell.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:powershell="http://www.mulesoft.org/schema/mule/powershell" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/powershell http://www.mulesoft.org/schema/mule/powershell/current/mule-powershell.xsd">
<powershell:config doc:name="PowerShell: Gateway_Connection" name="PowerShell__Gateway_Connection">
<powershell:powershell-connection host="ip" password="pass" username="user">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
</powershell:powershell-connection>
</powershell:config>
<flow name="powershellFlow">
<powershell:execute-script-file config-ref="PowerShell__Gateway_Connection" doc:name="PowerShell" parameters="#[vars.abc]">
<powershell:file-content><![CDATA[#[vars.abc]]]></powershell:file-content>
</powershell:execute-script-file>
</flow>

</mule>