src/resources/UnitTest/Mule4XMLToolOutput/tradacoms.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tradacoms="http://www.mulesoft.org/schema/mule/tradacoms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/tradacoms http://www.mulesoft.org/schema/mule/tradacoms/current/mule-tradacoms.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
<tradacoms:config allowUnknownSegments="true" allowUnusedSegments="false" doc:name="TRADACOMS EDI: Configuration" enforceLengthLimits="false" enforceSegmentOrder="false" name="TRADACOMS_EDI__Configuration" partnerCode="pcode" partnerName="pname" selfCode="mcode" selfName="mname" sendApplicationReference="aref" sendPriorityCode="pc" sendRecipientReference="rref" sendSenderReference="ref"/>
<flow name="tradacomsFlow">
<tradacoms:read config-ref="TRADACOMS_EDI__Configuration" doc:name="TRADACOMS EDI">
<tradacoms:read-content><![CDATA[#[vars.abc]]]></tradacoms:read-content>
</tradacoms:read>
</flow>
<flow name="tradacomsFlow1">
<tradacoms:write config-ref="TRADACOMS_EDI__Configuration" doc:name="TRADACOMS EDI">
<tradacoms:write-content><![CDATA[#[vars.abc]]]></tradacoms:write-content>
</tradacoms:write>
</flow>

</mule>