src/resources/UnitTest/Mule4XMLToolOutput/x12.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:x12="http://www.mulesoft.org/schema/mule/x12" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/x12 http://www.mulesoft.org/schema/mule/x12/current/mule-x12.xsd">
<x12:config ackAllSets="true" ackRequested="true" allowUnknownSegments="true" allowUnusedSegments="true" characterEncoding="IBM1047" componentSeparator="sep" dataSeparator="deli" defaultUsageIndicator="q" doc:name="X12 EDI" enforceCharacterSet="false" enforceLengthLimits="false" enforceSegmentOrder="false" enforceSegmentRepeats="false" enforceValueRepeats="false" formValidation="HIPAA_SNIP2" generate999Acks="true" groupIdPartner="pcode" groupIdSelf="mcode" implementationConventionReference="ref" includeFASchema="false" initialGroupNumber="group" initialInterchangeNumber="init" initialSetNumber="tra" interchangeIdPartner="prid" interchangeIdQualifierPartner="pid" interchangeIdQualifierSelf="mid" interchangeIdSelf="mrid" lineEnding="CR" name="X12_EDI" repetitionSeparator="rep" reportSegmentErrors="false" requireUniqueGroups="true" requireUniqueInterchanges="false" requireUniqueTransactionSets="true" schemas="#[vars.def]" segmentTerminator="ter" sendUniqueGroupNumbers="true" sendUniqueTransactionNumbers="true" stringCharacterSet="BASIC" stringSubstitutionChar="sub" versionIdentifierSuffix="suff"/>
<flow name="x12Flow">
<x12:read config-ref="X12_EDI" doc:name="X12 EDI">
<x12:read-content><![CDATA[#[vars.abc]]]></x12:read-content>
</x12:read>
</flow>
<flow name="x12Flow1">
<x12:write config-ref="X12_EDI" doc:name="X12 EDI">
<x12:write-content><![CDATA[#[vars.abc]]]></x12:write-content>
</x12:write>
</flow>

</mule>