target/classes/resources/UnitTest/Mule4XMLToolOutput/as2.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:as2="http://www.mulesoft.org/schema/mule/as2" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/as2 http://www.mulesoft.org/schema/mule/as2/current/mule-as2.xsd">
<as2:config doc:name="AS2: Configuration" name="AS2__Configuration">
<as2:connection as2IdPartnerFrom="as2" as2IdPartnerTo="as21" as2ReceiptOption="option" as2Url="url" compressionType="true" contentTransferEncoding="_7BIT" emailPartnerFrom="email" emailPartnerTo="email1" encrypt="AES128" keyPassword="pass" keyStorePath="path" mdnReceiverPort="8080" mdnSecureReceiverKeystorePassword="pass1" mdnSecureReceiverKeystorePath="path1" mdnSecureReceiverPort="8080" namePartnerFrom="name" namePartnerTo="name1" receiverPort="rport" removeCmsAlgorithmProtectionAttrib="true" secureReceiverKeystorePassword="spass" secureReceiverKeystorePath="spath" secureReceiverPort="sport" sign="SHA224" subject="subject" x509aliasPartnerFrom="alias" x509aliasPartnerTo="alias1">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
</as2:connection>
</as2:config>
<flow name="as2Flow">
<as2:receive config-ref="AS2__Configuration" doc:name="AS2 (Streaming)"/>
<as2:send config-ref="AS2__Configuration" doc:name="AS2" fileName="name" input="#[vars.abc]" timeout="100"/>
</flow>

</mule>