target/classes/resources/UnitTest/Mule4XMLToolOutput/ebs.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:oracle-ebs="http://www.mulesoft.org/schema/mule/oracle-ebs" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/oracle-ebs http://www.mulesoft.org/schema/mule/oracle-ebs/current/mule-oracle-ebs.xsd">
<oracle-ebs:jms-config doc:name="OracleEBS: JMS Configuration" name="OracleEBS__JMS_Configuration">
<oracle-ebs:jms-parameter-config-connection host="host" password="pass" port="8080" sid="sid" username="user">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
</oracle-ebs:jms-parameter-config-connection>
</oracle-ebs:jms-config>
<oracle-ebs:web-services-config doc:name="OracleEBS: Configuration" name="OracleEBS__Configuration">
<oracle-ebs:web-services-connection disableCNCheck="true" host="host" nlsLanguage="lang" orgId="id" password="pass" port="8080" responsibilityApplicationName="name" responsibilityName="name" securityGroupName="group" sslEnabled="true" trustStoreLocation="name" trustStorePassword="pass" username="user"/>
</oracle-ebs:web-services-config>
<oracle-ebs:jms-config doc:name="OracleEBS: JMS DB URL Configuration" name="OracleEBS__JMS_DB_URL_Configuration">
<oracle-ebs:jms-url-config-connection databaseUrl="url" password="pass" username="user">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
</oracle-ebs:jms-url-config-connection>
</oracle-ebs:jms-config>
<flow name="ebsFlow">
<oracle-ebs:business-events-source config-ref="OracleEBS__JMS_Configuration" doc:name="OracleEBS (Streaming)" durableSubscription="true" subscriptionName="name"/>
<oracle-ebs:create-email config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-email>
</flow>
<flow name="ebsFlow1">
<oracle-ebs:create-location config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-location>
</flow>
<flow name="ebsFlow2">
<oracle-ebs:create-organization config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-organization>
</flow>
<flow name="ebsFlow3">
<oracle-ebs:create-organization-contact config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-organization-contact>
</flow>
<flow name="ebsFlow4">
<oracle-ebs:create-organization-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-organization-customer>
</flow>
<flow name="ebsFlow5">
<oracle-ebs:create-party-site config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-party-site>
</flow>
<flow name="ebsFlow6">
<oracle-ebs:create-person config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-person>
</flow>
<flow name="ebsFlow7">
<oracle-ebs:create-person-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-person-customer>
</flow>
<flow name="ebsFlow8">
<oracle-ebs:create-phone config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-phone>
</flow>
<flow name="ebsFlow9">
<oracle-ebs:create-relationship config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-relationship>
</flow>
<flow name="ebsFlow10">
<oracle-ebs:create-web config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:create-web>
</flow>
<flow name="ebsFlow11">
<oracle-ebs:find-parties config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:criteria><![CDATA[#[vars.abc]]]></oracle-ebs:criteria>
</oracle-ebs:find-parties>
</flow>
<flow name="ebsFlow12">
<oracle-ebs:get-email config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow13">
<oracle-ebs:get-location config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow14">
<oracle-ebs:get-organization config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow15">
<oracle-ebs:get-organization-contact config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow16">
<oracle-ebs:get-organization-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow17">
<oracle-ebs:get-organizations-created config-ref="OracleEBS__Configuration" doc:name="OracleEBS" eventId="id"/>
</flow>
<flow name="ebsFlow18">
<oracle-ebs:get-organizations-updated config-ref="OracleEBS__Configuration" doc:name="OracleEBS" eventId="id"/>
</flow>
<flow name="ebsFlow19">
<oracle-ebs:get-party-site config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow20">
<oracle-ebs:get-person config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow21">
<oracle-ebs:get-person-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow22">
<oracle-ebs:get-person-customers-created config-ref="OracleEBS__Configuration" doc:name="OracleEBS" eventId="id"/>
</flow>
<flow name="ebsFlow23">
<oracle-ebs:get-person-customers-updated config-ref="OracleEBS__Configuration" doc:name="OracleEBS" eventId="id"/>
</flow>
<flow name="ebsFlow24">
<oracle-ebs:get-persons-created config-ref="OracleEBS__Configuration" doc:name="OracleEBS" eventId="id"/>
</flow>
<flow name="ebsFlow25">
<oracle-ebs:get-persons-updated config-ref="OracleEBS__Configuration" doc:name="OracleEBS" eventId="id"/>
</flow>
<flow name="ebsFlow26">
<oracle-ebs:get-phone config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" origSysRef="sys"/>
</flow>
<flow name="ebsFlow27">
<oracle-ebs:get-relationship config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id"/>
</flow>
<flow name="ebsFlow28">
<oracle-ebs:get-web config-ref="OracleEBS__Configuration" doc:name="OracleEBS" id="id" origSys="sys" sysRef="sys"/>
</flow>
<flow name="ebsFlow29">
<oracle-ebs:save-email config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-email>
</flow>
<flow name="ebsFlow30">
<oracle-ebs:save-location config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-location>
</flow>
<flow name="ebsFlow31">
<oracle-ebs:save-organization config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-organization>
</flow>
<flow name="ebsFlow32">
<oracle-ebs:save-organization-contact config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-organization-contact>
</flow>
<flow name="ebsFlow33">
<oracle-ebs:save-organization-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-organization-customer>
</flow>
<flow name="ebsFlow34">
<oracle-ebs:save-party-site config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-party-site>
</flow>
<flow name="ebsFlow35">
<oracle-ebs:save-person config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-person>
</flow>
<flow name="ebsFlow36">
<oracle-ebs:save-person-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-person-customer>
</flow>
<flow name="ebsFlow37">
<oracle-ebs:save-phone config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-phone>
</flow>
<flow name="ebsFlow38">
<oracle-ebs:save-relationship config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-relationship>
</flow>
<flow name="ebsFlow39">
<oracle-ebs:save-web config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:save-web>
</flow>
<flow name="ebsFlow40">
<oracle-ebs:update-email config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-email>
</flow>
<flow name="ebsFlow41">
<oracle-ebs:update-location config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-location>
</flow>
<flow name="ebsFlow42">
<oracle-ebs:update-organization config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-organization>
</flow>
<flow name="ebsFlow43">
<oracle-ebs:update-organization-contact config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-organization-contact>
</flow>
<flow name="ebsFlow44">
<oracle-ebs:update-organization-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-organization-customer>
</flow>
<flow name="ebsFlow45">
<oracle-ebs:update-party-site config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-party-site>
</flow>
<flow name="ebsFlow46">
<oracle-ebs:update-person config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-person>
</flow>
<flow name="ebsFlow47">
<oracle-ebs:update-person-customer config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-person-customer>
</flow>
<flow name="ebsFlow48">
<oracle-ebs:update-phone config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-phone>
</flow>
<flow name="ebsFlow49">
<oracle-ebs:update-relationship config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-relationship>
</flow>
<flow name="ebsFlow50">
<oracle-ebs:update-web config-ref="OracleEBS__Configuration" doc:name="OracleEBS">
<oracle-ebs:content><![CDATA[#[vars.abc]]]></oracle-ebs:content>
</oracle-ebs:update-web>
</flow>
<flow name="ebsFlow51">
<oracle-ebs:xml-gateway config-ref="OracleEBS__Configuration" doc:name="OracleEBS" documentNumber="doc" messageStandard="stand" messageType="type" partyId="pid" partySiteId="psid" transactionSubtype="tsubtype" transactionType="ttype">
<oracle-ebs:body><![CDATA[#[vars.abc]]]></oracle-ebs:body>
</oracle-ebs:xml-gateway>
</flow>
<flow name="ebsFlow52">
<oracle-ebs:xml-gateway-outbound-source config-ref="OracleEBS__JMS_DB_URL_Configuration" doc:name="OracleEBS (Streaming)"/>
</flow>

</mule>