target/classes/resources/UnitTest/Mule4XMLToolOutput/ftps.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:ftps="http://www.mulesoft.org/schema/mule/ftps" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/ftps http://www.mulesoft.org/schema/mule/ftps/current/mule-ftps.xsd">
<ftps:config doc:name="FTPS: FTPS Basic Config" name="FTPS__FTPS_Basic_Config">
<ftps:connection connectionTimeout="1000" connectionTimeoutUnit="MILLISECONDS" host="host" password="pass" port="8080" responseTimeout="1000" responseTimeoutUnit="MILLISECONDS" username="user">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
<pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE" maxActive="100"/>
<tls:context>
<tls:key-store keyPassword="pass" path="path"/>
</tls:context>
</ftps:connection>
</ftps:config>
<flow name="ftpsFlow">
<ftps:listener config-ref="FTPS__FTPS_Basic_Config" directory="path" doc:name="FTPS (Streaming)" moveToDirectory="move" renameTo="name">
<scheduling-strategy>
<fixed-frequency frequency="2000"/>
</scheduling-strategy>
</ftps:listener>
<ftps:write config-ref="FTPS__FTPS_Basic_Config" doc:name="FTPS" path="path">
<ftps:content><![CDATA[#[vars.abc]]]></ftps:content>
</ftps:write>
</flow>

</mule>