target/classes/resources/UnitTest/Mule4XMLToolOutput/neo4j.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:neo4j="http://www.mulesoft.org/schema/mule/neo4j" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/neo4j http://www.mulesoft.org/schema/mule/neo4j/current/mule-neo4j.xsd">
<neo4j:config doc:name="Neo4j: Basic Authentication" name="Neo4j__Basic_Authentication">
<neo4j:connection boltUrl="url" password="pass" restUrl="url" username="user">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
</neo4j:connection>
</neo4j:config>
<flow name="neo4jFlow">
<neo4j:create-node config-ref="Neo4j__Basic_Authentication" doc:name="Neo4j" label="label">
<neo4j:input><![CDATA[#[vars.abc]]]></neo4j:input>
</neo4j:create-node>
</flow>
<flow name="neo4jFlow1">
<neo4j:delete-nodes config-ref="Neo4j__Basic_Authentication" doc:name="Neo4j" label="label" removeRelationships="true">
<neo4j:parameters><![CDATA[#[vars.abc]]]></neo4j:parameters>
</neo4j:delete-nodes>
</flow>
<flow name="neo4jFlow2">
<neo4j:execute config-ref="Neo4j__Basic_Authentication" doc:name="Neo4j" query="#[vars.q]">
<neo4j:input><![CDATA[#[vars.ref]]]></neo4j:input>
</neo4j:execute>
</flow>
<flow name="neo4jFlow3">
<neo4j:select-nodes config-ref="Neo4j__Basic_Authentication" doc:name="Neo4j" label="label">
<neo4j:input><![CDATA[#[vars.abc]]]></neo4j:input>
</neo4j:select-nodes>
</flow>
<flow name="neo4jFlow4">
<neo4j:update-nodes config-ref="Neo4j__Basic_Authentication" doc:name="Neo4j" label="label">
<neo4j:parameters><![CDATA[#[vars.abc]]]></neo4j:parameters>
<neo4j:set-parameters><![CDATA[#[vars.p]]]></neo4j:set-parameters>
</neo4j:update-nodes>
</flow>

</mule>