target/classes/resources/UnitTest/Mule4XMLToolOutput/redis.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
<redis:redis-config doc:name="Redis: Configuration" name="Redis__Configuration">
<redis:nonclustered-connection connectionTimeout="3000" entryTTL="10" host="host" password="pass" port="8080"/>
</redis:redis-config>
<flow name="redisFlow">
<redis:subscribe config-ref="Redis__Configuration" doc:name="Redis (Streaming)">
<redis:channels>
<redis:channel value="10"/>
</redis:channels>
</redis:subscribe>
<redis:add-to-set config-ref="Redis__Configuration" doc:name="Redis" key="key" mustSucceed="true">
<redis:value><![CDATA[#[vars.abc]]]></redis:value>
</redis:add-to-set>
</flow>
<flow name="redisFlow1">
<redis:add-to-sorted-set config-ref="Redis__Configuration" doc:name="Redis" key="key" mustSucceed="true" score="score">
<redis:value><![CDATA[#[vars.abc]]]></redis:value>
</redis:add-to-sorted-set>
</flow>
<flow name="redisFlow2">
<redis:decrement config-ref="Redis__Configuration" doc:name="Redis" key="key" step="step"/>
</flow>
<flow name="redisFlow3">
<redis:del config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow4">
<redis:exists config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow5">
<redis:expire config-ref="Redis__Configuration" doc:name="Redis" key="key" seconds="sec"/>
</flow>
<flow name="redisFlow6">
<redis:expire-at config-ref="Redis__Configuration" doc:name="Redis" key="key" unixTime="time"/>
</flow>
<flow name="redisFlow7">
<redis:get config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow8">
<redis:get-all-from-hash config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow9">
<redis:get-from-hash config-ref="Redis__Configuration" doc:name="Redis" field="feild" key="key"/>
</flow>
<flow name="redisFlow10">
<redis:get-range-by-index ascendingOrder="false" config-ref="Redis__Configuration" doc:name="Redis" end="end" key="key" start="start"/>
</flow>
<flow name="redisFlow11">
<redis:get-range-by-score ascendingOrder="false" config-ref="Redis__Configuration" doc:name="Redis" key="key" max="max" min="min"/>
</flow>
<flow name="redisFlow12">
<redis:get-ttl config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow13">
<redis:increment config-ref="Redis__Configuration" doc:name="Redis" key="key" step="step"/>
</flow>
<flow name="redisFlow14">
<redis:increment-hash config-ref="Redis__Configuration" doc:name="Redis" field="key" key="field" step="step"/>
</flow>
<flow name="redisFlow15">
<redis:increment-sorted-set config-ref="Redis__Configuration" doc:name="Redis" key="key" step="step">
<redis:value><![CDATA[#[vars.abc]]]></redis:value>
</redis:increment-sorted-set>
</flow>
<flow name="redisFlow16">
<redis:persist config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow17">
<redis:pop-from-list config-ref="Redis__Configuration" doc:name="Redis" key="key" popLeft="true"/>
</flow>
<flow name="redisFlow18">
<redis:pop-from-set config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow19">
<redis:publish channel="channel" config-ref="Redis__Configuration" doc:name="Redis" message="hello"/>
</flow>
<flow name="redisFlow20">
<redis:push-to-list config-ref="Redis__Configuration" doc:name="Redis" ifExists="true" key="key" pushLeft="true">
<redis:value><![CDATA[#[vars.abc]]]></redis:value>
</redis:push-to-list>
</flow>
<flow name="redisFlow21">
<redis:random-member-from-set config-ref="Redis__Configuration" doc:name="Redis" key="key"/>
</flow>
<flow name="redisFlow22">
<redis:set config-ref="Redis__Configuration" doc:name="Redis" expire="expire" ifNotExists="true" key="key">
<redis:value><![CDATA[#[vars.abc]]]></redis:value>
</redis:set>
</flow>
<flow name="redisFlow23">
<redis:set-in-hash config-ref="Redis__Configuration" doc:name="Redis" field="field" ifNotExists="true" key="key">
<redis:value><![CDATA[#[vars.abc]]]></redis:value>
</redis:set-in-hash>
</flow>

</mule>