target/classes/resources/UnitTest/Mule4XMLToolOutput/successfactor.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:successfactors="http://www.mulesoft.org/schema/mule/successfactors" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/successfactors http://www.mulesoft.org/schema/mule/successfactors/current/mule-successfactors.xsd">
<successfactors:config doc:name="Success Factors: Configuration" name="Success_Factors__Configuration">
<successfactors:basic-connection companyId="ID" connectionIdleTimeout="50000" connectionTimeout="50000" password="pass" userName="user">
<reconnection>
<reconnect count="5" frequency="3000"/>
</reconnection>
<successfactors:proxy-config>
<successfactors:default host="host" password="pass" port="8080" username="user"/>
</successfactors:proxy-config>
</successfactors:basic-connection>
</successfactors:config>
<flow name="successfactorFlow">
<successfactors:create-entity config-ref="Success_Factors__Configuration" doc:name="Success Factors" entitySetName="type">
<successfactors:properties><![CDATA[#[vars.abc]]]></successfactors:properties>
</successfactors:create-entity>
</flow>
<flow name="successfactorFlow1">
<successfactors:delete-entity config-ref="Success_Factors__Configuration" doc:name="Success Factors" entitySetName="type">
<successfactors:key-properties><![CDATA[#[vars.abc]]]></successfactors:key-properties>
</successfactors:delete-entity>
</flow>
<flow name="successfactorFlow2">
<successfactors:update config-ref="Success_Factors__Configuration" doc:name="Success Factors" entitySetName="name">
<successfactors:properties><![CDATA[#[vars.abc]]]></successfactors:properties>
</successfactors:update>
</flow>
<flow name="successfactorFlow3">
<successfactors:upsert-entity config-ref="Success_Factors__Configuration" doc:name="Success Factors" entitySetName="name">
<successfactors:properties><![CDATA[#[vars.abc]]]></successfactors:properties>
</successfactors:upsert-entity>
</flow>

</mule>